.btnMenu {
  display: block;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: -9999px;
  padding: 20px 15px;
}

.btnMenu_open {
  background-image: url(../img/hamburguer512.svg);
}

.btnMenu_close {
  background-color: rgb(116, 118, 129);
  background-image: url(../img/menu.svg);
}
